/*

*/
/*BASE - Base styles, variables, mixins */
@import url(http://fonts.googleapis.com/css?family=Roboto+Condensed);
/* line 1, C:/Coding/CS_Projects/my_website/scss/base/_normalize.scss */
.col-centered {
  float: none;
  margin: 0 auto;
}

/* line 6, C:/Coding/CS_Projects/my_website/scss/base/_normalize.scss */
.circle-label {
  padding: 20px;
}

/* line 10, C:/Coding/CS_Projects/my_website/scss/base/_normalize.scss */
.about-circle-row {
  padding-top: 5%;
  padding-bottom: 10%;
}

/* line 15, C:/Coding/CS_Projects/my_website/scss/base/_normalize.scss */
.about {
  padding-top: 2% !important;
}

/* line 19, C:/Coding/CS_Projects/my_website/scss/base/_normalize.scss */
.fix-nav {
  width: 100% !important;
}

/* line 23, C:/Coding/CS_Projects/my_website/scss/base/_normalize.scss */
.nav-wrapper {
  min-height: 53px;
}

/* line 2, C:/Coding/CS_Projects/my_website/scss/base/_base.scss */
body {
  background: #333333;
  font-family: 'Roboto Condensed', sans-serif;
  color: #00b36b;
  position: relative;
  width: 100%;
}

/* line 10, C:/Coding/CS_Projects/my_website/scss/base/_base.scss */
h1 {
  font-size: 80px;
}

/* line 14, C:/Coding/CS_Projects/my_website/scss/base/_base.scss */
h2 {
  font-size: 36px;
}

/* line 18, C:/Coding/CS_Projects/my_website/scss/base/_base.scss */
section {
  padding-top: 6%;
  padding-bottom: 6%;
}

/* line 23, C:/Coding/CS_Projects/my_website/scss/base/_base.scss */
.affix {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 9999 !important;
}

/* line 30, C:/Coding/CS_Projects/my_website/scss/base/_base.scss */
a {
  z-index: 20;
}

/*MODULES - Site components */
/* line 1, C:/Coding/CS_Projects/my_website/scss/modules/_blocks.scss */
.title {
  padding-bottom: 4%;
  padding-top: 1%;
}

/* line 1, C:/Coding/CS_Projects/my_website/scss/modules/_sections.scss */
.top-circles {
  padding-bottom: 10%;
  padding-top: 3%;
}

/*highlight/ make bright
  #00e68a
 */
/* line 4, C:/Coding/CS_Projects/my_website/scss/modules/_components.scss */
#big-circle {
  margin: 0 auto;
  width: 400px;
  height: 400px;
  background: #00995c;
  border-radius: 50%;
  position: relative;
}

/* line 13, C:/Coding/CS_Projects/my_website/scss/modules/_components.scss */
#innerCircle1, #innerCircle2, #innerCircle3, #innerCircle4 {
  width: 380px;
  height: 380px;
  background: #404040;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -190px 0px 0px -190px;
}

/* line 23, C:/Coding/CS_Projects/my_website/scss/modules/_components.scss */
#big-circle:hover {
  background: #00ff99;
  cursor: pointer;
}

/* line 28, C:/Coding/CS_Projects/my_website/scss/modules/_components.scss */
#small-circle {
  margin: 0 auto;
  width: 200px;
  height: 200px;
  background: #00995c;
  border-radius: 50%;
  position: relative;
}

/* line 37, C:/Coding/CS_Projects/my_website/scss/modules/_components.scss */
#innerSmall1, #innerSmall2, #innerSmall3, #innerSmall4, #innerSmall5, #innerSmall6, #innerSmall7, #innerSmall8 {
  width: 190px;
  height: 190px;
  background: #404040;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -95px 0px 0px -95px;
}

/* line 47, C:/Coding/CS_Projects/my_website/scss/modules/_components.scss */
#small-circle:hover {
  background: #00ff99;
  cursor: pointer;
}

/* line 52, C:/Coding/CS_Projects/my_website/scss/modules/_components.scss */
.top-small-circle {
  min-height: 378px;
}

/* line 56, C:/Coding/CS_Projects/my_website/scss/modules/_components.scss */
.bottom-small-circle {
  padding-bottom: 15%;
}

/* line 60, C:/Coding/CS_Projects/my_website/scss/modules/_components.scss */
#collapse-education, #collapse-hobbies {
  padding-top: 3%;
}

/*LAYOUTS - Styles */

/*# sourceMappingURL=../css/main.map */