@import url(http://fonts.googleapis.com/css?family=Roboto+Condensed);
body{
  background: $dark_grey;
  font-family: 'Open Sans', sans-serif;
  color:$text_green;
}

h1{
  font-size:80px;
}

h2{
  font-size:36px;
}

section{
  padding-top:6%;
  padding-bottom:6%;
}

a{
  z-index: 20;
}

hr{
  height: 2px;
	width: 70px;
	text-align: center;
	position: relative;
	background: $text_green;
	margin: 0 auto;
	margin-bottom: 80px;
	border: 0;
}
