.col-centered{
  float:none;
  margin:0 auto;
}

.circle-label{
  padding:20px;
}

.about-circle-row{
  padding-top:5%;
  padding-bottom:10%;
}

.about{
  padding-top:2% !important;
}

.fix-nav{
  width:100% !important;
}

.nav-wrapper{
  min-height: 53px;
}
