.col-centered{
  float:none;
  margin:0 auto;
}

.circle-label{
  padding:20px;
}

.about-circle-row{
  padding-top:5%;
  padding-bottom:10%;
}

.about{
  padding-top:2% !important;
}

.top-line{
  margin-bottom:5%;
}

.bottom-small-circle{
  padding-top:7%;
}

.carousel-caption{
  background:lighten($circle-green,10%);
  border-radius: 45%;
}

.experience-carousel{
  padding: 20px;
  border-radius: 10px;
  background-color: $dark_grey;
}

.experience-accordian-head{
  text-align: center;
}

.main{
  padding-bottom:0;
}

.dot-contact{
  font-size: 25px;
}
