$top_grey: #2a2a2a;
$dark_grey: #313131;
$light_grey: #363636;
$super_light_grey: #cccccc;

$text_green: #00b36b;

$circle-green: #00804d;
$circle-grey: #404040;

$big-circle-radius:400px;
$small-circle-radius:200px;
