/*highlight/ make bright
  #00e68a
 */
#big-circle{
  margin: 0 auto;
  width: $big-circle-radius;
	height: $big-circle-radius;
  background: $circle-green;
  border-radius: 50%;
  position: relative;
}

#me-top-circle, #experience-top-circle, #contact-top-circle, #me-person-big-circle{
  @include make-inner-circle-size($big-circle-radius);
  background: $circle-grey;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  @include make-circle-margin-fix($big-circle-radius);
}

#big-circle:hover{
  background:lighten($circle-green,10%);
  cursor:pointer;
}

.me-circle-no-highlight:hover, .etc-circle-no-highlight:hover{
  //take out when add spin
  background:$circle-green !important;
  cursor:default !important;
}

#small-circle{
  margin: 0 auto;
  width:$small-circle-radius;
  height:$small-circle-radius;
  background: $circle-green;
  border-radius:50%;
  position:relative;
}

#education-inner-small-circle,#athletic-circle, #hobbies-circle, #describe-me-circle, #game-of-life-circle, #porodomo-timer-circle, #playlist-generator-circle, #etc-circle{
  @include make-inner-circle-size($small-circle-radius);
  background: $circle-grey;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  @include make-circle-margin-fix($small-circle-radius);
}

#small-circle:hover{
  background:lighten($circle-green,10%);
  cursor:pointer;
}


.top-small-circle{
  min-height:378px;
}

.top-circles{
  padding-bottom:10%;
  padding-top:3%;
}

#collapse-education, #collapse-hobbies{
  padding-top:3%;
}

//Add pictures to circles
#me-top-circle{
  background-image: url(../img/me.jpg) !important;
}

#experience-top-circle{
  background-image: url(../img/code.jpg) !important;
}

#contact-top-circle{
  background-image: url(../img/contact.jpg) !important;
}

#me-person-big-circle{
  background-image: url(../img/me-person.jpg) !important;
}

#education-inner-small-circle{
  background-image: url(../img/SBU.jpg) !important;
}

#hobbies-circle{
  background-image: url(../img/qube.jpg) !important;
}

#athletic-circle{
  background-image: url(../img/handball.jpg) !important;
}

#describe-me-circle{
  background-image: url(../img/tea.jpg) !important;
}

#game-of-life-circle{
  background-image: url(../img/gol-small.jpg) !important;
}

#porodomo-timer-circle{
  background-image: url(../img/timer-small.jpg) !important;
}

#playlist-generator-circle{
  background-image: url(../img/jam-small.jpg) !important;
}
